.icon-accept  { background-image: url(../../../images/true.png); }
.icon-reject  { background-image: url(../../../images/false.png); }
.icon-kick  { background-image: url(../../../images/lightning.png); }
